<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="ACLUser" type="com.isoftstone.model.acl.User" />
        <typeAlias alias="ACLRole" type="com.isoftstone.model.acl.Role" />
        <typeAlias alias="ACLMenu" type="com.isoftstone.model.acl.Menu" />
        
        <typeAlias alias="TodoAlias" type="com.isoftstone.model.todo.Todo" />
    </typeAliases>
</configuration>
